---
import Layout from '../layouts/Layout.astro';
import MastHead from "@jslone/Masthead/MastHead.stories";
---


<Layout title="Welcome to Astro.">
	<main>
	<MastHead></MastHead>
	</main>
</Layout>

<style>
</style>
