---
import Layout from '../layouts/Layout.astro';
import SimplePage from '../components/Layouts/simplepage.vue'
---


<Layout title="Welcome to Astro.">
	<main>
		<SimplePage/>
	</main>
</Layout>

<style>
</style>
