---
import Layout from '../layouts/Layout.astro';
import MastHead from "../components/Masthead";
---


<Layout title="Welcome to Astro.">
	<main>
	<MastHead></MastHead>
	</main>
</Layout>

<style>
</style>
