---
import Layout from '../layouts/Layout.astro';
import Simplepage from '../components/Layouts/simplepage.vue'
---


<Layout title="Welcome to Astro.">
	<main>
		<Simplepage/>
	</main>
</Layout>

<style>
</style>
